{% extends 'base.html' %}
{% block title %}Устав{% endblock %}
{% block content %}

<h4>УСТАВ
Садоводческого товарищества «Водолей»</h4>


<p><a href="" download="static/documents/juridical_inf/1. Устав СТ «Водолей-2010».docx" class="text-info">Скачать файл
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
</svg></a></p>



<h5>ГЛАВА 1
    ОБЩИЕ ПОЛОЖЕНИЯ</h5>
<p>
1.	Садоводческое товарищество «Водолей-2010» создано из числа работников Учреждения «Минское областное
    управление Министерства по чрезвычайным ситуациям Республики Беларусь», а также работников
    Министерства по чрезвычайным ситуациям Республики Беларусь и учреждений, им подчиненных.
</p>
<p>
2.	Наименование товарищества:
полное на русском языке - Садоводческое товарищество «Водолей-2010»
сокращенное на русском языке - СТ «Водолей-2010»
полное на белорусском языке - Садаводчае таварыства «Вадалей-2010»
сокращенное на белорусском языке - СТ «Вадалей-2010».
</p>
<p>
3.	Местонахождение товарищества: Минская область, Минский район, Юзуфовский сельсовет, в районе д.Комсомолец.
</p>
<p>
4.	Садоводческим товариществом (далее — товарищество) признается некоммерческая организация, осуществляющая свою деятельность на основе членства граждан, использования предоставленных для ведения коллективного садоводства земельных участков в целях выращивания плодовых, ягодных, овощных, декоративных и иных сельскохозяйственных культур, создания условий для отдыха и досуга, удовлетворения иных потребностей членов товарищества.
Для целей настоящего Устава используются термины в следующих значениях:
коллективное садоводство — осуществляемая с использованием объектов общего пользования товарищества членами товарищества Деятельность по выращиванию плодовых, ягодных, овощных, декоративных и иных сельскохозяйственных культур на земельных участках, предоставленных для ведения коллективного садоводства;
объекты общего пользования товарищества— расположенные на земельных участках общего пользования товарищества дороги, воздушные и кабельные линии электропередачи, трансформаторные подстанции, водопроводы, водонапорные башни, площадки для временного хранения отходов, общие ворота и заборы, другие объекты, необходимые для ведения коллективного садоводства.
</p>
5. Товарищество:
<ul>
<li>является юридическим лицом, имеет обособленное имущество и самостоятельный баланс, несет самостоятельную ответственность по своим обязательствам,
    может от своего имени приобретать и осуществлять имущественные и личные неимущественные права и исполнять обязанности, быть истцом и ответчиком в суде;</li>
<li>имеет печать с его полным наименованием на русском и (или) белорусском языках;</li>
<li>имеет право объединяться в ассоциации (союзы);</li>
<li>не несет ответственности по обязательствам членов товарищества. </li>
</ul>
<p>Члены товарищества несут субсидиарную ответственность по обязательствам товарищества в пределах не внесенной ими части дополнительных взносов.
Понесенные товариществом при осуществлении его деятельности убытки покрываются за счет дополнительных взносов членов товарищества в соответствии с решением общего собрания членов товарищества (далее - общее собрание) либо собрания уполномоченных членов товарищества (далее -собрание уполномоченных).
</p>
<p>
6.	Товарищество руководствуется в своей деятельности Положением о садоводческом товариществе, утвержденным Указом Президента Республики Беларусь от 28.01.2008г. №50, иными актами законодательства и настоящим Уставом.
</p>
<p>
7.	Товариществом принимаются правила внутреннего распорядка, которые разрабатываются в соответствии с типовыми правилами внутреннего распорядка садоводческого товарищества.
</p>
<p>
    8.	Для государственной регистрации изменений и (или) дополнений, вносимых в устав товарищества, в регистрирующий орган представляются:</p>
<p>заявление о государственной регистрации изменений и (или) дополнений установленной Министерством юстиции формы с указанием этих изменений и (или) дополнений и указанием в нем, что изменения и (или) дополнения, вносимые в устав товарищества, соответствуют установленным законодательством требованиям, сведения, содержащиеся в представленных для государственной регистрации документах, в том числе в заявлении о государственной регистрации, достоверны;
два экземпляра изменений и (или) дополнений без нотариального засвидетельствования, оформленных в виде приложений к уставу товарищества, их электронная копия. Если изменения и (или) дополнения в устав товарищества вносятся более двух раз и (или) изменяется и дополняется более половины положений устава либо внесение отдельных изменений и (или) дополнений технически сложно для изложения или восприятия, то для государственной регистрации представляется устав в новой редакции;
оригинал свидетельства о государственной регистрации в случае изменения наименования товарищества или его реорганизации;
платежный документ, подтверждающий уплату государственной пошлины.
После государственной регистрации товарищества его документы хранятся у председателя СТ «Водолей-2010».
</p>
<p>
9.	Земельные участки для ведения коллективного садоводства предоставляются товариществу и его членам в соответствии с законодательством об охране и использовании земель.
Земельные участки общего пользования товарищества осваиваются за счет средств товарищества.
Земельные участки, предоставленные для ведения коллективного садоводства членам товарищества и находящиеся в границах товарищества, осваиваются за счет средств членов товарищества.
</p>
<p>
10.	Освоение территории товарищества, возведение садовых домиков, хозяйственных	строений	и сооружений, необходимых для ведения
коллективного садоводства, создание объектов общего пользования товарищества может быть начато после установления в натуре (на местности) границ земельных участков общего пользования товарищества и земельных участков членов товарищества на основании проекта организации и застройки территории товарищества, утвержденного в соответствии с законодательством об архитектурной, градостроительной и строительной деятельности, и получения товариществом и его членами документов, удостоверяющих их права на земельные участки.
Изменение застройки территории товарищества не допускается без внесения в установленном законодательством об архитектурной, градостроительной и строительной деятельности порядке изменений в утвержденный проект организации и застройки территории товарищества.
Государственная регистрация создания земельных участков товарищества, членов товарищества, а также возникновения, перехода прав, ограничений (обременении) прав на эти земельные участки, создания капитальных строений (зданий, сооружений) и прав на них осуществляется в порядке, установленном законодательством о государственной регистрации недвижимого имущества, прав на него и сделок с ним.
</p>

<h5>
    ГЛАВА 2
    ИМУЩЕСТВО ТОВАРИЩЕСТВА
</h5>
<p>
11.	Товарищество может иметь в собственности имущество, состоящее из объектов общего пользования товарищества и его денежных средств.
</p>
<p>
    12.	Источниками формирования имущества товарищества являются:</p>
<p>взносы членов товарищества;</p>
<p>доходы, полученные товариществом в результате предпринимательской деятельности;</p>

<p>
13.	Товарищество может осуществлять предпринимательскую деятельность лишь постольку, поскольку она необходима для уставных целей, ради которых оно создано, соответствует этим целям и отвечает предмету деятельности товарищества. Доходы и прибыль, полученные товариществом в результате такой деятельности, не могут распределяться между его членами и используются на осуществление текущей деятельности (для создания объектов общего пользования товарищества, их эксплуатации, ремонта и иных целей, предусмотренных уставом товарищества).
</p>
<p>
14. 14.	Принудительное изъятие у товарищества имущества не допускается, за исключением случаев, предусмотренных законодательными актами или согласно постановлению суда.
</p>


<h5>ГЛАВА 3
ЧЛЕНСТВО В ТОВАРИЩЕСТВЕ, ПРАВА И ОБЯЗАННОСТИ ЧЛЕНОВ ТОВАРИЩЕСТВА И ИНЫХ ЛИЦ, ЗЕМЕЛЬНЫЕ УЧАСТКИ КОТОРЫХ НАХОДЯТСЯ В ГРАНИЦАХ ТОВАРИЩЕСТВА
</h5>
<p>
15.	Членами товарищества могут быть дееспособные граждане Республики Беларусь, иностранные граждане и лица без гражданства, постоянно проживающие на территории Республики Беларусь, имеющие предоставленные им для ведения коллективного садоводства земельные участки в границах товарищества на праве частной собственности, пожизненного наследуемого владения или аренды земельных участков, находящихся в государственной собственности (далее - аренда).
</p>
<p>
16.	Лицо, к которому перешло право на находящийся в границах товарищества земельный участок, предоставленный для ведения коллективного садоводства, становится членом товарищества со дня государственной регистрации этого права, за исключением случая, указанного в части третьей настоящего пункта.
Лицо, которое приобрело в товариществе садовый домик, хозяйственные строения и сооружения, расположенные на земельном участке, находящемся на праве пожизненного наследуемого владения или аренды, становится членом товарищества со дня государственной регистрации права на этот земельный участок, за, исключением случая, указанного в части третьей настоящего пункта.
    При отказе наследника (наследников) от вступления в состав членов товарищества путем подачи заявления в правление в порядке и сроки, установленные уставом товарищества, он (они) обязан (обязаны) с соблюдением требований законодательных актов в области охраны и использования земель в течение одного года со дня государственной регистрации права (прав) на земельный участок, находящийся в границах товарищества, произвести отчуждение этого земельного участка, а также распорядиться расположенными на нем садовым домиком, хозяйственными строениями и сооружениями.
</p>
<p>17.	В месячный срок со дня государственной регистрации товарищества либо со дня получения уведомления, указанного в абзаце восьмом пункта 20 настоящего Устава, правление обязано выдать члену товарищества членскую книжку установленной формы, а член товарищества обязан ее получить.
</p>
<p>
18.	В случае прекращения членства в товариществе в журнале регистрации выдачи членских книжек делается отметка о недействительности соответствующей членской книжки с указанием основания и даты прекращения членства.
</p>
<p>19.	Член товарищества вправе:</p>
<ul>
<li>избирать и быть избранным в органы управления товарищества, участвовать в обсуждении вопросов и вносить предложения на общих собраниях (собраниях уполномоченных),
    участвовать в принятии решений по вопросам, отнесенным настоящим Уставом товарищества к компетенции общего собрания;</li>
<li>знакомиться с отчетами председателя правления и ревизионной комиссии товарищества (далее - ревизионная комиссия),
    а также получать от них иную информацию о деятельности органов управления товарищества и ревизионной комиссии;</li>
<li>самостоятельно хозяйствовать на предоставленном ему земельном участке в соответствии с настоящим Уставом, актами законодательства,
    правилами внутреннего распорядка товарищества;</li>
<li>осуществлять в соответствии со строительными, природоохранными, санитарно-гигиеническими, противопожарными и иными требованиями законодательства,
    в том числе техническими нормативными правовыми актами, и проектом организации и застройки территории товарищества строительство и реконструкцию садовых домиков,
    а также хозяйственных строений и сооружений, необходимых для ведения коллективного садоводства;</li>
<li>распоряжаться находящимися у него на праве частной собственности земельным участком, садовым домиком,
    хозяйственными строениями и сооружениями в соответствии с законодательством;</li>
<li>пользоваться объектами общего пользования товарищества в порядке, определяемом уставом товарищества,
    проектом организации и застройки территории товарищества, правилами внутреннего распорядка товарищества и решениями общего собрания (собрания уполномоченных);
    распоряжаться плодовой, ягодной, овощной, декоративной и иной сельскохозяйственной продукцией, выращенной на предоставленном ему земельном участке;</li>
<li>обращаться в суд с требованием о признании недействительными решений общего собрания (собрания уполномоченных), правления,
    его председателя, а также в иных случаях, предусмотренных законодательными актами;</li>
<li>выйти из товарищества по своему усмотрению в любое время независимо от согласия других членов товарищества путем подачи заявления в правление в порядке и сроки,
    установленные уставом товарищества. Членство в товариществе прекращается со дня подачи такого заявления;</li>
    <li>осуществлять иные права, предусмотренные настоящим Уставом, актами законодательства.</li>
</ul>
<p>20.	Член товарищества обязан:</p>
<ul>
    <li>выполнять требования, установленные настоящим Уставом, правилами внутреннего распорядка товарищества, решениями общего собрания (собрания уполномоченных), правления;</li>
<li>приступить к освоению земельного участка, предоставленного для ведения коллективного садоводства, в срок и в порядке, установленные законодательством об охране и
    использовании земель;</li>
<li>использовать предоставленный ему земельный участок в соответствии с его целевым назначением, выполнять на нем агротехнические мероприятия,
    осуществлять мероприятия по защите растений;</li>
<li>своевременно вносить взносы в соответствии с настоящим Уставом и решениями общего собрания (собрания уполномоченных);</li>
<li>нести субсидиарную ответственность по обязательствам товарищества в пределах невнесенной им части дополнительных взносов;</li>
<li>не нарушать права других членов товарищества;</li>


<li>
письменно уведомить правление о возникновении (переходе к нему) права на земельный участок,
    находящийся в границах товарищества, предоставленный для ведения коллективного садоводства, не позднее 10 дней со дня государственной регистрации этого права;</li>
<li>выполнять иные обязанности, предусмотренные настоящим Уставом, актами законодательства.</li>

<li>В случае невыполнения (нарушения) членом товарищества обязанностей, установленных в абзацах втором - седьмом,
    девятом части первой настоящего пункта, правлением товарищества ему выносится предупреждение, в котором указывается срок для устранения допущенных нарушений.</li>
</ul>
<p>21.	Исключение из состава членов товарищества производится по решению общего собрания в случаях:</p>
<ul>
    <li>неоднократного (два и более раза) в течение шести месяцев подряд невыполнения (нарушения) обязанностей,
        перечисленных в абзацах втором— четвертом, шестом, седьмом, девятом части первой пункта 20 настоящего Устава;</li>
    <li>невнесения взносов в течение шести месяцев подряд со дня наступления срока их внесения.</li>
</ul>
<p>Исключение из состава членов товарищества осуществляется на основании материалов, свидетельствующих о том, что после получения письменного предупреждения правления член товарищества не принял мер к устранению допущенных нарушений в установленный в этом предупреждении срок.
    Лицо, исключенное из состава членов товарищества, вправе обжаловать решение общего собрания об исключении его из состава членов товарищества в суде.</p>
<p>22.	Лицо, выбывшее из состава членов товарищества (по собственному усмотрению либо в результате исключения в соответствии с пунктом 21 настоящего Устава)
    , обязано с соблюдением требований законодательных актов в области охраны и использования земель в течение одного года со дня прекращениячленства в товариществе
    произвести отчуждение находящихся у негонаправечастной собственности земельного участка, садового домика, хозяйственныхстроений и сооружений,
    необходимых для ведения коллективного садоводства,а в случае нахождения у него земельного участка на праве пожизненногонаследуемого владения
    или аренды - распорядиться указанными в настоящемпункте садовым домиком, хозяйственными строениями и сооружениями,атакже погасить задолженность по взносам и пене.</p>
<p>23.	Лицо, выбывшее из состава членов товарищества, до отчуждения находящихся у него в частной собственности земельного участка, садового домика,
    хозяйственных строений и сооружений, необходимых для ведения коллективного садоводства, выполняет обязанности, предусмотренные в абзацах втором-седьмом,
    девятом части первой пункта 20 настоящего Устава, и осуществляет права, установленные в абзацах четвертом-восьмом пункта 19 настоящего Устава.
    Споры между товариществом и его членами, а также споры между наследниками о преимущественном праве на вступление в члены товарищества,
    споры имущественного характера решаются судом.</p>

<h5>ГЛАВА 4
УПРАВЛЕНИЕ В ТОВАРИЩЕСТВЕ
</h5>

<p>24.	Управление в товариществе осуществляется в соответствии с настоящим Уставом.</p>
<p>25.	Органами управления товарищества являются общее собрание (собрание уполномоченных), правление.</p>
<p>26.	Высший орган управления товарищества - общее собрание. Общее собрание может проводиться в очной или заочной форме (опросным путем).</p>
<p>27.	Общее собрание считается правомочным, если на нем присутствуют либо в случае проведения заочного голосования (опросным путем) приняли участие более половины
общего числа членов товарищества. В случае отсутствия установленного кворума общее собрание может быть проведено повторно с той же повесткой дня.
Повторное общее собрание правомочно принимать решения, если на нем присутствуют либо приняли участие в результате заочного голосования (опросным путем)
    не менее 25 процентов от общего числа членов товарищества.</p>
<p>28.	К компетенции общего собрания относятся следующие вопросы:</p>
<ul>
    <li>внесение изменений и (или) дополнений в устав товарищества; исключение из членов товарищества;</li>
<li>определение количественного состава правления, избрание председателя правления, казначея товарищества (далее - казначей) и иных членов правления,
    досрочное прекращение их полномочий;</li>
    <li>предоставление полномочий председателю общего собрания на заключение срочного трудового договора (контракта) с избранным председателем правления;</li>
    <li>избрание членов ревизионной, счетной комиссии товарищества и досрочное прекращение их полномочий;</li>
    <li>избрание уполномоченных, а также досрочное прекращение их полномочий; утверждение правил внутреннего распорядка товарищества; </li>
    <li>принятие решений о формировании и использовании имущества общего пользования товарищества;</li>
<li>утверждение отчетов председателя правления о выполнении ежегодной сметы доходов и расходов товарищества, а также других решений общего собрания (собрания уполномоченных);</li>
    <li>утверждение ежегодных отчетов правления и ревизионной комиссии;</li>
    <li>установление (изменение) размеров и сроков внесения членских, целевых и дополнительных взносов членами товарищества,
        а также порядок приема наличных денежных средств, вносимых в качестве этих взносов;</li>
<li>установление размеров пени в соответствии с законодательством за несвоевременное внесение взносов и
    изменение сроков их внесения отдельными членами товарищества по уважительным причинам;</li>
    <li>утверждение схемы обращения с образующимися в садоводческих товариществах отходами;</li>
    <li>согласование штатного расписания товарищества и утверждение размеров оплаты труда председателя правления, казначея и других штатных работников товарищества;</li>
    <li>утверждение ежегодных планов агротехнических мероприятий и ремонтно-хозяйственных работ;</li>
    <li>утверждение ежегодной сметы доходов и расходов товарищества, изменений и (или) дополнений, вносимых в нее;</li>
    <li>принятие решений о совершении товариществом сделок, об ином распоряжении имуществом, в том числе денежными средствами товарищества, на сумму свыше 50 базовых величин;</li>
    <li>принятие решений о вступлении (объединении) товарищества в ассоциации (союзы) таких товариществ;</li>
    <li>рассмотрение жалоб на решения и действия (бездействие) председателя правления, членов правления, членов ревизионной комиссии;</li>
    <li>установление и утверждение размеров вознаграждений, выплачиваемых членам правления, членам ревизионной комиссии и членам счетной комиссии;</li>
    <li>принятие решений о реорганизации и ликвидации товарищества, утверждение передаточного акта или разделительного баланса.</li>
</ul>
<p>Вопросы, входящие в компетенцию общего собрания, не могут быть переданы на рассмотрение других органов управления товарищества, за исключением собрания уполномоченных.</p>
<p>29.	В целях оперативного принятия решений по отдельным вопросам, отнесенным к компетенции общего собрания, может проводиться собрание уполномоченных.</p>
<p>Уполномоченные избираются на общем собрании, на котором присутствуют более 1/2 от общего числа членов товарищества,
    из числа членов товарищества из расчета по одному уполномоченному от каждых пяти членов товарищества.</p>
<p>Выборы уполномоченных должны проводиться не реже одного раза в три года. В случае неизбрания общим собранием нового состава уполномоченных
    в установленный срок действующий состав сохраняет свои полномочия до избрания их нового состава, но не более одного года.</p>
<p>Досрочное прекращение полномочий уполномоченного возможно в случае его выбытия из состава членов товарищества,
    отказа от своих полномочий и в иных случаях, предусмотренных уставом товарищества.</p>
<p>Собрание уполномоченных считается правомочным, если на нем присутствуют не менее 2/3 от списочного состава уполномоченных. В случае отсутствия установленного кворума собрание уполномоченных может быть проведено повторно с той же повесткой дня. Повторное собрание уполномоченных правомочно принимать решение, если на нем присутствует не менее половины их состава. На собрании уполномоченных вправе присутствовать члены товарищества, не являющиеся уполномоченными, без права участия в голосовании по вопросам повестки дня.
Собрание уполномоченных имеет право рассматривать вопросы, отнесенные в соответствии с настоящим Уставом к компетенции общего собрания, за исключением вопросов, предусмотренных в абзацах втором - восьмом, двадцать первом и двадцать втором части первой пункта 29 настоящего Устава.
</p>
<p>30.	Общее собрание (собрание уполномоченных) созывается правлением по мере необходимости, но не реже двух раз в год.
    Внеочередные общие собрания (собрания уполномоченных) созываются по решению правления, по письменному требованию
    ревизионной комиссии, по письменному предложению соответствующего местного исполнительного и распорядительного органа,
    по письменному требованию не менее 1/4 от общего числа членов товарищества (далее - требование или предложение).
    Такое требование или предложение должно включать предполагаемую повестку дня общего собрания (собрания уполномоченных).</p>
<p>Решение о созыве внеочередного общего собрания (собрания уполномоченных) принимается правлением не позднее семи дней со дня получения требования или предложения.</p>
<p>31.	Основанием для отказа в созыве внеочередного общего собрания (собрания уполномоченных) может являться несоблюдение порядка подачи требований или предложений,
установленного в части первой пункта 31 настоящего Устава. В случае отказа правления в удовлетворении требований или предложений по иным
основаниям или без указания оснований инициаторы созыва внеочередного общего собрания (собрания уполномоченных) вправе сами созвать такое общее собрание
    (собрание уполномоченных).</p>
<p>32.	При положительном решении правления о созыве внеочередного общего собрания (собрания уполномоченных)
    оно должно быть созвано не позднее 30 дней со дня получения требования или предложения.</p>
<p>33.	Уведомление членов товарищества (уполномоченных) о дате и месте проведения очередного или внеочередного
    общего собрания (собрания уполномоченных) осуществляется в письменной форме посредством почтовой связи или
    размещения объявления на информационном стенде, установленном на территории товарищества, не менее чем за 15 дней до дня проведения этого собрания.</p>
<p>34.	Каждый член товарищества (уполномоченный) имеет на общем собрании (собрании уполномоченных) один голос.</p>
<p>35.	Вместо члена товарищества в общем собрании может участвовать его представитель, действующий на основании доверенности, удостоверенной в
    соответствии с Гражданским кодексом Республики Беларусь либо председателем правления.</p>
<p>Уполномоченные не могут передавать свои полномочия другим лицам.</p>

<p>36.	При проведении заочного голосования (опросным путем) каждому члену товарищества направляется нарочным под
    роспись или заказным письмом с уведомлением о получении бюллетень для голосования единого образца, установленного правлением.</p>
<p>Бюллетень должен содержать:</p>
<ul>
    <li>повестку дня общего собрания;</li>
    <li>формулировку вопросов, голосование по которым производится данным бюллетенем, и формулировку проектов решений по каждому вопросу;</li>
    <li>варианты голосования по каждому вопросу, выраженные словами «за», «против», «воздержался»;</li>
    <li>разъяснение порядка заполнения бюллетеня по каждому вопросу;</li>
    <li>место представления заполненных бюллетеней, день окончания голосования и день заседания счетной комиссии.</li>
</ul>
Член товарищества, получивший такой бюллетень, заполняет его, выражая свое мнение по вопросам повестки дня путем голосования «за», «против», «воздержался», подписывает и направляет по адресу, указанному в бюллетене.
Подсчет голосов при таком голосовании осуществляется счетной комиссией, которая избирается общим собранием на три года в количестве не менее трех членов товарищества. Счетная комиссия вскрывает конверты на своем заседании, которое проводится не ранее 15 дней со дня окончания голосования. По итогам заочного голосования (опросным путем) счетная комиссия оформляет протокол, подписываемый всеми ее членами, и на следующий день после его оформления передает правлению для реализации принятого решения. Данные протоколы и бюллетени для голосования хранятся в товариществе постоянно.
<p>37.	Общим собранием (собранием уполномоченных), проводимым в очной форме, избираются председатель, ведущий данное собрание,
    а также секретарь, который ведет протокол этого собрания. Председатель общего собрания (собрания уполномоченных)
    и его секретарь могут избираться при проведении каждого такого собрания или на определенный срок, установленный по решению общего собрания (собрания уполномоченных).
<p>38.	Решения общего собрания (собрания уполномоченных) принимаются простым большинством голосов присутствующих на
    собрании (принявших участие в заочном голосовании (опросным путем).
Решения общего собрания о внесении в устав товарищества изменений и (или) дополнений, реорганизации товарищества,
    об утверждении передаточного акта или разделительного баланса принимаются квалифицированным большинством (не менее 2/3)
    присутствующих на собрании (принявших участие в заочном голосовании (опросным путем).</p>
<p>39.	По решению общего собрания (собрания уполномоченных) голосование по отдельным вопросам может быть тайным, о чем указывается в протоколе общего
    собрания (собрания уполномоченных). При тайном голосовании подсчет голосов и оглашение результатов осуществляются
    счетной комиссией, избираемой общим собранием (собранием уполномоченных) из членов товарищества в количестве не менее трех человек.</p>
<p>40.	Результаты голосования отражаются в протоколе общего собрания (собрания уполномоченных).
Протоколы общих собраний (собраний уполномоченных) оформляются их секретарем, подписываются председателем и секретарем общего собрания (собрания уполномоченных) в течение трех дней со дня его проведения, заверяются печатью товарищества и хранятся в товариществе постоянно.
<p>41.	Решения общего собрания (собрания уполномоченных) доводятся до сведения членов товарищества не позднее пяти дней со дня проведения общего собрания (собрания уполномоченных), в том числе заседания счетной комиссии - при проведении заочного голосования (опросным путем), путем размещения копии протокола общего собрания (собрания уполномоченных) или копии протокола об итогах голосования опросным путем либо выписки из него на информационном стенде, установленном на территории товарищества, сайте товарищества, или в ином порядке, определенном уставом товарищества.
<p>42.	Правление:</p>
<ul>
    <li>является коллегиальным исполнительным органом и подотчетно общему собранию (собранию уполномоченных);</li>
    <li>избирается общим собранием из числа членов товарищества сроком на три года в количестве не менее пяти человек;</li>
    <li>Членами правления не могут быть члены ревизионной комиссии, члены счетной комиссии и уполномоченные товарищества;</li>
    <li>осуществляет текущее руководство деятельностью товарищества в соответствии с законодательством, уставом товарищества и решениями общего собрания (собрания уполномоченных);</li>
<li>организует учет членов товарищества, регистрацию и выдачу членских книжек, учет имущества, состава уполномоченных,
    <li>в том числе денежных средств товарищества, его доходов и расходов;</li>
принимает решения о совершении товариществом сделок, об ином распоряжении имуществом, в том числе денежными средствами товарищества,
    <li>на сумму от 25 до 50 базовых величин включительно в пределах утвержденной ежегодной сметы доходов и расходов товарищества;</li>
    <li>согласовывает условия заключаемых товариществом гражданско-правовых договоров, за исключением договоров на сумму менее 25 базовых величин;</li>
<li>обеспечивает ведение делопроизводства в товариществе;</li>
    <li>вносит на рассмотрение общего собрания (собрания уполномоченных) предложения об установлении размеров членских,
        целевых и дополнительных взносов членов товарищества и сроков их внесения;</li>
    <li>разрабатывает ежегодные планы агротехнических мероприятий и ремонтно-хозяйственных работ в товариществе и вносит их на рассмотрение общего собрания (собрания уполномоченных);</li>
<li>подготавливает проект ежегодной сметы доходов и расходов товарищества и (или) изменения и дополнения,
    вносимые в нее, и представляет общему собранию (собранию уполномоченных) для утвержденияобеспечивает
    освоение и использование земельных участков общего пользования в соответствии с их целевым назначением согласно проекту организации застройки территории товарищества;</li>
<li>обеспечивает содержание объектов общего пользования товарищества в надлежащем состоянии и выполнение планов
    агротехнических мероприятий и ремонтно-хозяйственных работ в товариществе;</li>
    <li>организует контроль за внесением учредителями, членами товарищества взносов;</li>
    <li>контролирует выполнение членами товарищества его устава, решений общего собрания (собрания уполномоченных) и правления, а также правил внутреннего распорядка товарищества;</li>
    <li>определяет в соответствии с законодательством условия трудовых договоров (контрактов) со штатными работниками товарищества;</li>
    <li>созывает очередные и внеочередные общие собрания (собрания уполномоченных), осуществляет организационно-техническое обеспечение их проведения;</li>
    <li>осуществляет подготовку выносимых на рассмотрение общего собрания (собрания уполномоченных) вопросов и проектов решений по ним;</li>
принимает решение о предоставлении одному из членов правления полномочий на подписание срочного трудового договора (контракта) с председателем правления в случае,
    <li>если решение общего собрания о его избрании было принято по итогам заочного голосования (опросным путем);</li>
    <li>готовит ежегодный отчет о деятельности правления товарищества; организует охрану территории, имущества товарищества и его членов;</li>
    <li>рассматривает заявления членов товарищества и в пределах своей компетенции принимает по ним решения;</li>
    <li>организует выполнение мероприятий по удалению отходов, образующихся на территории товарищества, в соответствии с законодательством об обращении с отходами;</li>
    <li>рассматривает разногласия, возникшие между членами товарищества по вопросам, связанным с реализацией их прав и обязанностей;</li>
<li>осуществляет контроль за использованием членами товарищества их земельных участков и информирует соответствующий местный исполнительный и распорядительный орган
    о нарушениях законодательства об охране и использовании земель, а также о наличии в товариществе незанятых, неиспользуемых, используемых не по целевому назначению
    земельных участков и вносит предложения об их использовании;</li>
<li>осуществляет иные полномочия в соответствии с Указом Президента Республики Беларусь от 28 января 2008 года № 50 «О мерах по упорядочению деятельности садовых товариществ»
    и уставом товарищества.</li>
    </ul>
<p>В случае несвоевременного внесения членами товарищества взносов (в течение двух месяцев подряд со дня наступления срока уплаты) либо неисполнения без
    уважительных причин других обязанностей, предусмотренных частью первой пункта 20 настоящего Устава, правление вправе принять решение об отключении
    таким членам товарищества электроэнергии и воды до выполнения ими обязанностей в полном объеме.</p>

<p>Вопрос о досрочном прекращении полномочий членов правления может быть вынесен на обсуждение общего собрания (собрания уполномоченных) по
письменному требованию ревизионной комиссии или не менее чем 1/4 от общего числа членов товарищества либо по предложению соответствующего местного
    исполнительного и распорядительного органа.</p>
<p>43.	Правление вправе рассматривать и принимать решения по вопросам деятельности товарищества в соответствии с уставом и решениями общего
    собрания (собрания уполномоченных), а также не входящим в компетенцию других органов управления товарищества.</p>
<p>44.	Заседания правления созываются председателем правления по мере необходимости, но не реже одного раза в квартал.
    Заседание правления правомочно, если на нем присутствует не менее половины от общего количества его членов.
    Решения правления принимаются простым большинством голосов присутствующих на заседании членов правления.</p>
<p>45.	Протоколы заседаний правления оформляются не позднее трех дней со дня их проведения, подписываются
    председателем и членами правления и хранятся в товариществе постоянно.</p>
<p>46.	Председатель правления избирается из числа членов товарищества или лиц, не являющихся членами товарищества,
сроком на три года, подотчетен общему собранию (собранию уполномоченных). Председатель правления председательствует
    на заседаниях правления и является одновременно по должности руководителем товарищества.</p>
<p class="font-weight-bold">47. Председатель правления:</p>
<ul>
    <li>организует проведение заседаний правления;
<li>распределяет обязанности между членами правления и осуществляет контроль за их исполнением;<br>
    <li>утверждает должностные инструкции штатных работников товарищества;</li>
    <li>осуществляет текущее руководство деятельностью товарищества в пределах полномочий, определенных настоящим Уставом и срочным
    трудовым договором (контрактом), заключенным с ним председателем общего собрания в соответствии с законодательством о труде;
    <li>организует исполнение решений общего собрания (собрания уполномоченных), правления;</li>
<li>совершает сделки, иным образом распоряжается имуществом, в том числе денежными средствами товарищества, в соответствии с ежегодными
    сметами доходов и расходов на сумму до 25 базовых величин, открывает счета в банках;</li>
<li>без доверенности действует от имени товарищества, представляет его интересы в судах, государственных органах и иных организациях,
    выдает доверенности на представление товарищества перед третьими лицами, подписывает денежные и расчетные документы, выдает справки;</li>
    <li>заключает гражданско-правовые договоры от имени товарищества с учетом требований, содержащихся в абзаце седьмом настоящего пункта;</li>
    <li>утверждает штатное расписание товарищества после его согласования общим собранием (собранием уполномоченных);</li>
<li>осуществляет прием и увольнение работников товарищества;</li>
<li>издает распоряжения по вопросам, отнесенным к его компетенции, а также в целях реализации решений общего собрания (собрания уполномоченных) и правления;
<li>применяет меры поощрения и дисциплинарного взыскания в отношении штатных работников товарищества;</li>
<li>осуществляет иные полномочия, предусмотренные уставом товарищества.</li>
        </ul>
<br>48.<strong>	Вопрос о досрочном прекращении полномочий председателя правления (переизбрании) может быть вынесен на обсуждение общего собрания по письменному требованию ревизионной комиссии или не менее чем 1/4 от общего числа членов товарищества либо не менее чем 2/3 членов правления, а также по предложению соответствующего местного исполнительного и распорядительного органа.
</strong><br>
<p class="font-weight-bold">49.	Председатель правления при осуществлении своих прав и исполнении обязанностей должен действовать в интересах товарищества и
его членов в соответствии с настоящим Уставом, актами законодательства. Председатель правления несет согласно законодательству
полную материальную ответственность перед товариществом за ущерб, причиненный товариществу в результате его виновных действий (бездействия).
При выявлении финансовых злоупотреблений или нарушений, причинении убытков товариществу председатель правления, казначей и другие
    члены правления несут ответственность в соответствии с законодательством.</p>
<p class="font-weight-bold">50.	Казначей:</p>
<ul class="font-weight-bold">
<li>избирается общим собранием из числа членов товарищества или лиц, не являющихся членами товарищества, сроком на три года, является членом правления. Казначеем не может быть лицо, состоящее с председателем правления и членами правления в близком родстве или свойстве (супруги, родители, дети, усыновители, усыновленные (удочеренные), дед, бабка, внуки, родные братья и сестры, родители супруга (супруги), тети, дяди);<br>
    <li>осуществляет прием наличных денежных средств, вносимых учредителями, членами товарищества в качестве взносов;</li>
    <li>осуществляет контроль за внесением учредителями, членами товарищества взносов на текущий (расчетный) банковский счет товарищества;</li>
    <li>принимает меры по обеспечению взыскания пени в случае несвоевременного внесения взносов учредителями, членами товарищества;</li>
    <li>подготавливает предложения об установлении размеров и сроков внесения взносов членами товарищества;</li>
    <li>принимает участие в подготовке проектов ежегодной сметы доходов и расходов товарищества, отчетов по ее выполнению;</li>
    <li>осуществляет начисление и выплату в установленные сроки вознаграждений членам правления, членам ревизионной комиссии, членам счетной комиссии, заработной платы штатным работникам товарищества;</li>
    <li>оформляет и подписывает денежные и расчетные документы товарищества; ведет учет членов товарищества, учет доходов и расходов товарищества; осуществляет регистрацию выданных членских книжек;</li>
    <li>представляет ежегодно не позднее первого мая в налоговый орган по месту постановки на учет сведения о размерах земельных участков членов товарищества и о лицах, которые имеют льготы по уплате земельного налога;</li>
    <li>составляет и представляет в установленном порядке отчетность в налоговые органы;</li>
    <li>обеспечивает своевременное перечисление сумм земельного налога, налога на недвижимость, внесенных членами товарищества;</li>
    <li>несет в соответствии с законодательством полную материальную ответственность за сохранность наличных денежных средств товарищества.</li>
    </ul>
    <p class="font-weight-bold">Денежные и расчетные документы товарищества без подписи казначея считаются недействительными
        и не принимаются к исполнению.</p>

<h5>ГЛАВА 5
КОНТРОЛЬ В ТОВАРИЩЕСТВЕ
</h5>
<p>51.	Внутренний контроль за финансово-хозяйственной деятельностью товарищества, председателя правления, казначея и других членов правления осуществляет ревизионная комиссия.
Ревизионная комиссия избирается из числа членов товарищества в составе не менее трех человек на три года.
    В состав ревизионной комиссии не могут быть избраны председатель правления, казначей и иные члены правления, лицо,
    состоящее с ними в близком родстве или свойстве (супруги, родители, дети, усыновители, усыновленные (удочеренные),
    дед, бабка, внуки, родные братья и сестры и родители супруга (супруги), тети, дяди), а также уполномоченные товарищества.</p>
<p>52.	Вопрос о досрочном прекращении полномочий ревизионной комиссии (переизбрании)
    может быть вынесен на обсуждение общего собрания по письменному требованию не менее
    чем 1/4 членов товарищества, а также по предложению соответствующего местного исполнительного и распорядительного органа.</p>
<p>Ревизионная комиссия подотчетна общему собранию (собранию уполномоченных).</p>
<p>53.	Ревизионная комиссия осуществляет следующие полномочия:</p>
<ul>
    <li>проверяет финансово-хозяйственную деятельность товарищества не реже одного раза в год и представляет общему собранию (собранию уполномоченных) отчет;</li>
    <li>дает заключения по отчетам председателя правления, правления и информирует о результатах проверки общее собрание (собрание уполномоченных).</li>
    </ul>
<p>При обнаружении нарушений финансово-хозяйственной деятельности товарищества и (или) финансовых нарушений со стороны председателя правления,
    казначея и (или) иных членов правления ревизионная комиссия в течение десяти дней со дня обнаружения указанных нарушений обязана
    потребовать созыва внеочередного общего собрания (собрания уполномоченных).</p>

<h5>ГЛАВА 6
ВЗНОСЫ УЧРЕДИТЕЛЕЙ, ЧЛЕНОВ ТОВАРИЩЕСТВА
</h5>
<p>54.	Для обеспечения деятельности товарищества члены товарищества вносят следующие взносы:</p>
<ul>
<li>паевые - денежные средства, вносимые учредителями, членами товарищества при создании товарищества, используемые на возмещение
    организационных расходов, оформление документов, связанных с созданием товарищества, и приобретение (создание) объектов общего пользования товарищества;</li>
<li>членские - денежные средства, периодически вносимые членами товарищества, расходуемые на оплату труда его работников,
    заключивших с этим товариществом трудовые договоры (контракты), в том числе на вознаграждение членов правления,
    членов ревизионной комиссии, членов счетной комиссии, а также на другие текущие расходы, связанные с осуществлением деятельности товарищества;</li>
<li>целевые - денежные средства, вносимые членами товарищества на основании решения общего собрания (собрания уполномоченных)
    для реализации ежегодных планов агротехнических мероприятий и ремонтно-хозяйственных работ, создания и капитального ремонта
    объектов общего пользования, а также при необходимости финансирования других мероприятий, утвержденных общим собранием (собранием уполномоченных);</li>
<li>дополнительные - денежные средства, вносимые членами товарищества на покрытие убытков товарищества.
    </ul>
<p class="font-weight-bold">55-1.Члены товарищества вносят членские взносы в равном размере вне зависимости от размеров земельных участков, землепользователями которых они являются в товариществе.</p>

<p class="font-weight-bold">55. Взносы членами товарищества вносятся в сроки, установленные решением общего собрания (собрания уполномоченных). За несвоевременное внесение взносов члены товарищества уплачивают пеню в размере, установленном общим собранием (собранием уполномоченных) в соответствии с законодательством.
Члены товарищества вносят взносы на текущий (расчетный) банковский счет товарищества либо путем передачи наличных денежных средств казначею. В подтверждение внесения взносов на текущий (расчетный) банковский счет товарищества члены товарищества представляют казначею квитанции (или иной документ) о внесении денежных сумм на текущий (расчетный) банковский счет товарищества.
Прием наличных денежных средств, вносимых членами товарищества в качестве взносов, может осуществляться казначеем с использованием приходных кассовых ордеров и квитанций либо по ведомостям установленной формы, которые являются бланками строгой отчетности. Эти ведомости хранятся в товариществе постоянно. Порядок приема наличных денежных средств, вносимых членами товарищества, определяется решением общего собрания.
</p>
<p class="font-weight-bold">56. Разногласия по вопросам внесения взносов и их расходования товариществом рассматриваются общим собранием (собранием уполномоченных),
    правлением, а споры по этим вопросам - судом.</p>

<h5>ГЛАВА 7
РЕОРГАНИЗАЦИЯ И ЛИКВИДАЦИЯ ТОВАРИЩЕСТВА
</h5>
<p>57.	Товарищество может быть реорганизовано в соответствии с решением общего собрания в форме:</p>
<ul>
    <li>слияния с другим товариществом;</li>
    <li>присоединения к другому товариществу;</li>
    <li>присоединения к нему другого товарищества;</li>
    <li>выделения из товарищества одного или нескольких товариществ;</li>
    <li>разделения на два или более товарищества.</li>
    </ul>
<p>Товарищество не может быть реорганизовано в форме преобразования.</p>
<p>58.	Права и обязанности реорганизованного товарищества переходят к правопреемнику (правопреемникам) в соответствии с передаточным актом или разделительным балансом.
Члены реорганизованного товарищества становятся членами товарищества (товариществ) - правопреемника (правопреемников).
Товарищество считается реорганизованным со дня государственной регистрации вновь возникшего (возникших) товарищества (товариществ), за исключением реорганизации в форме присоединения.
При присоединении к товариществу другого товарищества первое из них считается реорганизованным со дня внесения в Единый государственный регистр юридических лиц
    и индивидуальных предпринимателей записи о прекращении деятельности присоединенного товарищества.</p>
<p>59.	Товарищество может быть ликвидировано:</p>
<ul>
<li>по решению общего собрания в связи с признанием судом регистрации товарищества недействительной;
</ul>
<ul>
<p>по решению суда в случаях:</p>
    <li>прекращения прав на земельные участки, предоставленные товариществу и его членам для ведения коллективного садоводства;</li>
    <li>непринятия решения о ликвидации в соответствии с абзацем вторым настоящего пункта;</li>
<li>осуществления деятельности без надлежащего специального разрешения (лицензии), либо запрещенной законодательными актами,
    либо с иными неоднократными или грубыми нарушениями законодательных актов, признания судом государственной регистрации товарищества недействительной;</li>
    <li>в иных случаях, предусмотренных законодательными актами.</li>
</ul>
<p>60.	Ликвидация товарищества осуществляется в порядке, установленном законодательными актами.</p>
<p>В случае ликвидации товарищества права на земельные участки, предоставленные товариществу и его членам для ведения коллективного садоводства, прекращаются в порядке, установленном законодательством об охране и использовании земель, и местный исполнительный и распорядительный орган, на территории которого расположено товарищество, принимает решение об их дальнейшем использовании.
Имущество товарищества, оставшееся после удовлетворения требований кредиторов, подлежит продаже. Денежные средства, вырученные от продажи этого имущества, а также денежные средства товарищества, оставшиеся после удовлетворения требований кредиторов, передаются членам товарищества в равных долях.
Документы ликвидируемого товарищества передаются на хранение в государственные архивные учреждения в порядке, установленном законодательством.
Товарищество считается ликвидированным с даты внесения регистрирующим органом записи в Единый государственный регистр юридических лиц и индивидуальных
    предпринимателей об исключении товарищества из этого регистра.</p>
<br>
<br>
    {% endblock %}