{% extends 'base.html' %}

{% block content %}


<h3 class="text-secondary" style="text-align: center">Должники</h3>
<br>
<table class="table" style="text-align: center">
  <thead>
   <tr>
       <th scope="col">Ф.И.О</th>
       <th scope="col">Сумма задолженности по  членским, целевым взносам (руб.)</th>
       <th scope="col">Сумма переплаты (руб.)</th>
   </tr>
  </thead>
      {% for debtor in debtors %}
    <tbody>
    <tr>
        <td>{{debtor.name}}</td>
        <td>{{debtor.amount_of_debt}}</td>
        <td>{{debtor.amount_of_overpayment}}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}