{% extends 'base.html' %}
{% block title %}Электроэнергия{% endblock %}
{% block content %}
<h4 class="text-secondary">Электроэнергия</h4>
<table class="table table-striped">
    <thead>
    <th>Адрес</th>
    <th>ФИО</th>
    <th style="text-align:center">Задолженность(кВч)</th>
    </thead>

    <tbody>
        {% for t in targets %}
        <tr>
            <td>{{ t.Адрес }}</td>
            <td>{{ t.ФИО }}</td>
            <td style="text-align: center">{{ t.Задолженность }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}