{% extends 'base.html' %}

{% block content %}
{{ t.publish }}

<h4 class="text-secondary">Целевые взносы</h4>
<table class="table table-striped">
    <thead>
    <th>Адрес</th>
    <th>ФИО</th>
    <th style="text-align: center">Задолженность(руб.)</th>
    </thead>

    <tbody>
        {% for t in targets %}
        <tr>
            <td>{{ t.Адрес }}</td>
            <td>{{ t.ФИО }}</td>
            <td style="text-align: center">{{ t.Задолженность }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}