{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../static/hunger_static.css">
        <link href="{% static 'hunger_static.css' %}" rel="stylesheet">
<script type="text/javascript" src='{% static "hunger_js.js" %}'></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
<header>
    <div class="nav">
        <div class="mobile-nav">
        <div class="burger">
            <span></span>
        </div>
        <div class="nav-image">
            <img class="circle" src="../../static/image/media/circle.png" alt="Circle">
        </div>
    </div>
        <div class="nav-box">
            <a class="nav__link" href="#">HOME</a>
            <a class="nav__link" href="#">ABOUT</a>
            <a class="nav__link" href="#">TEAM</a>
            <a class="nav__link" href="#">BOOKING</a>
            <a class="nav__link" href="#">MENU</a>
            <a class="nav__link" href="#">GALERIE</a>
            <a class="nav__link" href="#">EVENTS</a>
            <a class="nav__link" href="#">CONTACT</a>
        </div> 

    </div>
<div class="bottom-stick">
</div>   
    <div class="container-1">
        
        <div class="box-1-container-1">
            <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
        </div>
        <div class="box-2-container-1">
            

            <p class="restaurant">restaurant</p>
            <p class="glad_to_see">ALWAYS GLAD TO SEE YOU</p>
            <p class="hungry">HUNGRY &nbsp; <span class="people"></span> PEOPLE</p>
            <div class="button-header">
            <button class="btn-header">Book table</button>
                <div class="middle-sticks">
                    <span></span>
                </div>
            <button class="btn-header">Explore</button>
        </div>
        <div class="round-button">
            <div class="button">
            </div>
        </div>
        </div>
        <div class="box-3-container-1">
            <div class="social-media-1"></div>
            <div class="social-media-2"></div>
            <div class="social-media-3"></div>
        </div>
    </div>
</header>
<div class="container-2">
    <div class="box-1-container-2">
        <div class="box-1-container-2-content">
            <div class="text-container-2">
        <h2>About Us</h2>
        
        <p class="weight-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>

        <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, 
        enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem.
            Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        </div>
        </div>
    <div class="box-2-container-2">
        <div class="image-2">
            <img src="../../static/image/media/container-2.png" alt="clock">
            <div class="case-image-2"></div>
        </div>
        </div>
</div>
    <div class="container-3">
        <p class="our_team">Our team</p>
        <div class="box-1-container-3">
            <div class="image-3">
                <img src="../../static/image/media/container-3.png" alt="team">
                <div class="case-image-3"></div>
            </div>

        </div>
        <div class="box-2-container-3">
            <div class="box-2-container-3-content">
                <div class="text-container-3">
        <h2>Master chef</h2>
        
        <p class="weight-text">Lorem ipsum dolor sit amet, consectetur
             adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
             <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
                  Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, 
                  a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis
                   pharetra. Nulla facilisis semper laoreet.</p>
                </div>
                </div>
        </div>
        <div class="middle-sticks-container-3">
            <span></span>
        </div>
</div>
<div class="container-4">
    <div class="box-1-container-4">
        <div class="box-1-container-4-content">
            <h2>book a table</h2>
            <div class="inputs-container-4">
        <div class="input-1">
            <form>
                <input class="input" type="text" placeholder="Name">
            </form>
            <form>
                <input class="input" type="text" placeholder="Phone">
            </form>
            <form>
                <input class="input" type="text" placeholder="Date (mm/dd)">
            </form>
        </div>
        <div class="input-2">
            <form>
                <input class="input" type="text" id="input" placeholder="Email">
            <select class="select">
                <option>People</option>
                <option>JS</option>
                <option>HTML</option>
                <option>CSS</option>
            </select>
            <select class="select">
                <option>Time</option>
                <option>JS</option>
                <option>HTML</option>
                <option>CSS</option>
            </select>
        </form>
        </div>
    </div>
        <button class="btn-container-4">book now</button>
    </div>
        </div>
    <div class="box-2-container-4">
        <div class="image-4">
        <img src="../../static/image/media/container-4.png" alt="clock">
        <div class="case-image-4"></div>
    </div>
</div>
</div>
<div class="container-5">
    <p class="our_team"> specialties</p>
    <div class="box-1-container-5">
        <div class="image-5">
            <img src="../../static/image/media/container-5.png" alt="pancake">
            <div class="case-image-5"></div>
        </div>

    </div>
    <div class="box-2-container-5">
        <div class="box-2-container-5-content">
            <div class="text-container-5">
    <h2>chocolate pancakes</h2>
    
    <p class="weight-text">Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
         <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
              Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, 
              a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis
               pharetra. Nulla facilisis semper laoreet.</p>
            </div>
            </div>
    </div>
    <div class="middle-sticks-container-3">
        <span></span>
    </div>
</div>
<div class="container-6">
    <div class="container-6-content">
        <div class="text-container-6">
    <h2 class="delicious-menu">delicious menu</h2>
    <p class="weight-text"> Lorem ipsum dolor sit amet, consectetur adipiscing
         elit. Duis at velit maximus, molestie est a, tempor magna.</p>
        </div>
        <div class="menu-button">
            <span></span>
        </div>
<div class="nav-container-6">
    <a class="nav-link-6" href="#">soupe</a>
    <a class="nav-link-6" href="#">pizza</a>
    <a class="nav-link-6" href="#">pasta</a>
    <a class="nav-link-6" href="#">desert</a>
    <a class="nav-link-6" href="#">wine</a>
    <a class="nav-link-6" href="#">beer</a>
    <a class="nav-link-6" href="#">drinks</a>
</div>
    <div class="menu">
        <div class="menu-1">
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
        <div class="menu-name-price">
            <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
            <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
        </div>
    </div>
    <div class="menu-2">
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div class="menu-name-price">
        <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
        <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
    </div>
</div>
<div class="menu-3">
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
<div class="menu-name-price">
    <p class="weight-text-6">PIZZA QUATRO STAGIONI . . . . 55,68 USD</p>
    <p class="little-text-6">Integer ullamcorper neque eu purus euismod</p>
</div>
</div>
</div>
</div>
</div>
<div class="container-7">
    <p class="our_team"> private ivents</p>
        <div class="btn-7"></div>
    <div class="box-1-container-7">
        <div class="image-7-1">
            <img src="../../static/image/media/container-7-1.png" alt="pancake">
            <div class="case-image-7-1"></div>
            <div class="image-7-1-right">
                <p>weddings</p>
            </div>
        </div>
    </div>
    <div class="box-2-container-7">

            <div class="box-2-container-7">
                <div class="image-7-2">
                    <div class="image-7-2-left">
                        <p>corporate pzrties</p>
                    </div>
                <img src="../../static/image/media/container-7-2.png" alt="clock">
                <div class="case-image-7-2"></div>
            </div>
        </div>
    <div class="middle-sticks-container-3">
        <span></span>
    </div>

</div>

</div>
<div class="container-8">
    <img src="../../static/image/media/container-8-1.png" alt="">
    <img src="../../static/image/media/container-8-2.png" alt="">
    <img src="../../static/image/media/container-8-3.png" alt="">
    <img src="../../static/image/media/container-8-4.png" alt="">
</div>

</main>
    </body>
</html>