{% extends "base.html" %}

{% block content %}



 {% if request.user.is_authenticated %}
<h4 class=" " style="text-align: center">Новости</h4>

        {% for main in main_page %}
<div class="card">




  <div class="card-body">
      <p class="text-secondary">Упобликованно {{main.publish}}</p>
    <h6 class="card-title" style="color: #6b7478">{{ main.title }}</h6>
    <p class="card-text">{{ main.body|linebreaks|truncatewords_html:40 }}</p>
      <a href="{{main.get_absolute_url}}" class="btn btn-light">Читать полность</a>
      {% if main.image %}
<img class="card-img-top" src="{{main.image.url}}" alt="Card image cap" style="padding: 10px">
      {% endif %}
  </div>
</div>
<br>
        {% endfor %}

{% else %}

        {% load crispy_forms_tags %}

        {% block main %}
<div class="login">
      <div class="card" style="width: 100%">
        <div class="card-body">

        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {{ form|crispy }}

        <button type="submit" class="btn btn btn-block">Войти</button>
        </form>
        </div>
        </div>

    <p>Наш сайт содержит конфеденциальную информацию о деятельности нашего товарищества
        (форум, протоколы, уставы, планы). Для предотвращения к этой информации несанкционированного доступа лицам,
        не являющихся членами товарищества, предусмотрена персональная идентификация только для членов товарищества.
    По вопросам регистрации обращайтесь по телефону:  +375 29 3535664 (Басаранович Алексей Григорьевич)</p>
        {% endblock %}
</div>
{% endif %}


{% endblock %}
