{% extends "base.html" %}
{% block title %} Главная {% endblock %}
{% block content %}



 {% if request.user.is_authenticated %}
<h4>Новости</h4>
<p class="text-warning">{{hello}}</p>

        {% for main in main_page %}

<div class="card">

  <div class="card-body">
      <p class="text-secondary">Опубликовано {{main.publish}}</p>
    <h6 class="card-title">{{ main.title }}</h6>
    <p class="card-text">{{ main.body|linebreaks|truncatewords_html:40 }}</p>
      <a href="{{main.get_absolute_url}}" class="btn btn-light text-info">Читать полность</a>
      {% if main.image %}
<img class="card-img-top" src="{{main.image.url}}" alt="Card image cap">
      {% endif %}
  </div>
</div>
<br>
        {% endfor %}

{% else %}

        {% load crispy_forms_tags %}

        {% block main %}
<div class="login">
      <div class="card">
        <div class="card-body">

        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {{ form|crispy }}

        <button type="submit" class="btn btn-secondary">Войти</button>
        </form>
        </div>
        </div>
    <p class="text-danger">{{error}}</p>

</div>
{% endblock %}
{% endif %}


{% endblock %}
