{% extends 'base.html' %}

{% block content %}






    <div class="col-sm-3">
        <div class="reg" style="position: fixed;">
           {% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'village:password_change' %}" style="color:black;">
        Изменить пароль
    </a>
<br>



      {% else %}
        <a class="navbar-brand" href="{% url 'village:registration' %}" style="color:black;">Регистрация</a>


        <a href="#"><p style="color:black;">Забыли пароль?</p></a>
        {% endif %}
            </div>

    </div>
  </div>


{% endblock %}