{% extends 'base.html' %}

{% block content %}
{% for protocol in protocols %}

<h4>Протоколы собраний</h4>

<a class="text-dark" href="{{protocol.document.url}}" target="_blank">
<div class="media">

  <img class="mr-3" width="40 px" height="40 px" src="static/protocols/kisspng-computer-icons-pdf-filename-extension-pdf-icon-5b23e6cfaf0746.0886430415290795037169.png" alt="Generic placeholder image">
  <div class="media-body">

    <h6 class="mt-0">{{protocol.title}}</h6><svg width="1em" height="1em" viewBox="0 0 16 16" style="display: flex;" class="bi bi-calendar-week-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm9.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
</svg>

  </div>

</div>
</a>
<object width="100%" height="800px" type="application/pdf" title="SamplePdf" data="{{protocol.document.url}}">


    </object>
{% endfor %}
{% endblock %}