{% extends 'base.html' %}

{% block title %}Как оплатить взносы{% endblock %}

{% block content %}

<h4>Как оплатить взносы</h4>

<p class="font-weight-bold">Все платежи принимаются исключительно через ЕРИП!!</p>
<p>Путь в дереве ЕРИП для оплаты:</p>
<p class="font-weight-bold">Коммунальные платежи => Садоводческие товарищества => Минская обл. => Минский р-н => Водолей-2010</p>
<p>Номер лицевого счета — <span class="font-weight-bold">191010<span class="text-danger">140</span>11 первые 6 цифр постоянные
    следующие 3 – номер участка 2 последние цифры также постоянные</span>
    <p class="font-weight-bold">Пример: для участка № 1 лицевой счет 191010<span class="text-danger">001</span>11
    для участка № 201 лицевой счет 191010<span class="text-danger">201</span>11 и т.д.</p>


{% endblock %}