{% extends 'base.html' %}
{% block title %}Членские взносы{% endblock %}

{% block content %}

<h4>Членские взносы</h4>

<p class="font-weight-bold">ЧЛЕНСКИЙ ВЗНОС вносится ежемесячно. В 2020 году он составляет 28,15 руб. (7,5% от минимальной заработной платы)</p>


<hr class="my-4">

<div class="responsibility">

    <p class="font-italic">
        Согласно Уставу товарищества (п. 43) в случае несвоевременного внесения членами товарищества взносов
        (в течение двух месяцев подряд со дня наступления срока уплаты),  либо неисполнения без уважительных причин других обязанностей,
        предусмотренных частью первой пункта 20 настоящего Устава, правление вправе принять
        решение об отключении таким членам товарищества электроэнергии и воды до выполнения ими обязанностей в полном объеме.
    </p>

</div>

{% endblock %}