{% extends 'base.html' %}
{% block title %}Целевые взносы{% endblock %}

{% block content %}

<h4>Целевые взносы</h4>

<p><span class="font-weight-bold">ЦЕЛЕВОЙ ВЗНОС вносится членами товарищества</span> на основании решения общего собрания
    (собрания уполномоченных) для реализации
ежегодных планов агротехнических мероприятий и ремонтно-хозяйственных работ, создания и капитального ремонта объектов общего
    пользования, а также при необходимости финансирования других мероприятий, утвержденных общим собранием (собранием уполномоченных).</p>

<p class="font-weight-bold">По решению собрания уполномоченных от 15.07.2020 №2/2020/07-15 целевой взнос составляет 100
    рублей для покрытия части дорог
    асфальтогранулятом. Оплату внести до 31.08.2020 года.</p>

<hr class="my-4">

<div class="responsibility">

    <p class="font-italic">
        Согласно Уставу товарищества (п. 43) в случае несвоевременного внесения членами товарищества взносов
        (в течение двух месяцев подряд со дня наступления срока уплаты),  либо неисполнения без уважительных причин других обязанностей,
        предусмотренных частью первой пункта 20 настоящего Устава, правление вправе принять
        решение об отключении таким членам товарищества электроэнергии и воды до выполнения ими обязанностей в полном объеме.
    </p>

</div>
{% endblock %}