{% extends 'base.html' %}
{% block title %}Как подключить электричество{% endblock %}



{% block content %}

<h4>Как подключить электричество</h4>
<p class="text-right"><a class="text-info" href="{% url 'village:refresher' %}">Памятка по прокладке кабеля</a></p>
<p class="font-weight-bold">Для  подключения  электроснабжения  по постоянной схеме необходимо:</p>
<p>1.	Погасить задолженность (если имеется) по взносам и пене, произвести, при необходимости,
    покос травы (участок должен быть ухожен).</p>
<p>2.	Написать <a href="#statement" class="text-info">заявление</a>  в правление товарищества на получение технических условий,
    выслать его на электронный адрес <a href="mailto:stvodoley2010@gmail.com" class="text-info">stvodoley2010@gmail.com</a>, и указать свой электронный  адрес,
    на который Вам будут высланы  технические условия.</p>
<p>3.	После выполнения технических условий позвонить электрику товарищества   для  согласования даты подключения электроснабжения.</p>
<p>4.	При подключении электроснабжения иметь при себе:</p>
<p>- членскую книжку садовода;</p>
<p>- квитанцию об оплате 50 кВт электроэнергии на счет товарищества (оплата через ЕРИП);</p>
   <p>-  заявление  на подключение к электроснабжению (только в том случае, если заявление на
       электронный адрес направлено без подписи члена товарищества);</p>
    <p>- два экземпляра технических условий (1 экземпляр после подписания электриком товарищества остается у
        владельца участка, второй экземпляр в правлении товарищества).</p>

<p class="font-weight-bold">Для  подключения  электроснабжения  по временной схеме необходимо:</p>
<p>Установить розетку внутри электрического ящика, соответствующего номеру Вашего участка, не срывая пломбы с
    вводного автомата и прибора учета электроэнергии. Данную работу может выполнить электрик собственника участка.</p>

<div class="documents_connect">

<a class="text-dark" href="static/documents/how_to_connect/+БЛАНК заявления на получение ТУ (постоянная схема)-pdf.pdf" target="_blank" id="statement">

<div class="connect_media">

  <img class="mr-3" width="40 px" height="40 px"
       src="static/protocols/pdf_img.png"
       alt="pdf">
  <div class="media-body">

    <h6 class="mt-0">Заявление на получение ТУ</h6>

    </div>

</div>
</a>
    <a class="text-dark" href="static/documents/how_to_connect/+БЛАНК заявления на получение ТУ (постоянная схема).docx" target="_blank">

<div class="connect_media">

  <img class="mr-3" width="40 px" height="40 px"
       src="static/protocols/word_img.png"
       alt="pdf">
  <div class="media-body">

    <h6 class="mt-0">Заявление на получение ТУ</h6>

    </div>

</div>
</a>
</div>

{% endblock %}