{% extends 'base.html' %}
{% block title %}Как подключить газ{% endblock %}

{% block content %}

<h4>Как подключиться к сетям газоснабжения</h4>

<p class="font-weight-bold">Как подключиться к сетям газоснабжения</p>
<p>Для  подключения  к сетям газоснабжения необходимо  выполнить следующие работы:</p>
<p>1.	Построить  капитальное строение (стены, крыша, пол, окна, двери, (для двухэтажных строений - лестница на 2-й этаж).
    Выполнение отделочных работ не обязательно.</p>
<p>2.	Зарегистрировать строение в РУП «Минское областное агенство по  государственной регистрации
    и земельному кадастру» (г.Минск, ул.Папанина, 7) и получить соответствующие документы.</p>
<p>3.	Написать заявление в УП «Мингаз»  на выдачу технических условий  (выдаются бесплатно) для проектирования внешнего и внутреннего газоснабжения.
    Заявление должно быть  завизировано председателем садоводческого товарищества (визирует только при отсутствии задолженности по всем платежам).
    Без визы председателя товарищества заявление УП «Мингаз» не принимает.</p>
<p>4.	Заказать проект на внешнее и внутреннее газоснабжение вашего дома, предварительно выполнив  топографическую съемку вашего участка с
    указанием всех коммуникаций и строений на вашем участке. Проект должен быть согласован с УП «Мингаз» и зарегистрирован.</p>
<p>5.	Выполнить строительно-монтажные работы по газификации.</p>
<p>После выполнения пунктов 1-5 УП «Мингаз» производит приемку объекта и  врезку  в действующий газопровод.</p>
<p>Все проектные и строительно-монтажные работы по газоснабжению выполняются только организациями, имеющими лицензию на этот вид деятельности.</p>


{% endblock %}