{% extends 'base.html' %}
{% block title %}Памятка по прокладке кабеля{% endblock %}

{% block content %}

<h4>Памятка по прокладке кабеля</h4>

<div class="warning">
<p class="text-danger font-weight-bold">ВНИМАНИЕ!!!</p>
<p>Все строительные и земляные работы в охранной зоне подземного газопровода (охранная зона для газопровода среднего давления - 4 м по обе стороны)
необходимо проводить только при наличии разрешения газоснабжающей организации
    Контактный телефон УП «Мингаз»: ул.Ботаническая 11,  Служба эксплуатации объектов газораспределительной системы,  каб.308  тел. 299-29-42</p>
</div>



<p class="font-weight-bold text-center">Все электромонтажные работы должен проводить  специально обученный человек!</p>
<p>Ввод кабеля в шкаф с прибором учета  производится  по трубе. Она жестко крепится к столбу и опускается в землю на глубину 0,3 м от нулевой точки
    (если кабель прокладывается в металлической трубе, то она должна быть обязательно заземлена).</p>
<p>Прокладка кабеля производится на глубине 0,7 метра в трубах ПНД (полиэтилен низкого давления), или просто в грунте.
При прокладке в трубах копается траншея глубиной 0,8 метра, затем засыпается подушка из сеяного песка толщиной 0,1 метра.
Кладется труба, которая в свою очередь засыпается подушкой из песка толщиной 0,1 метра. Если  погонной длины трубы не хватает,
то кладется требуемое количество труб,  которые соединяются специальными муфтами  соответствующего  диаметра.  Концы труб, из которых
выходят кабели в грунт,  должны быть зачеканены  специальным составом, перемешанным с минеральной ватой.  Это предотвращает от попадания
    в трубы воды и грязи, а при вводе в здание – от  попадания в помещение влаги, насекомых и животных.</p>
<p>При прокладке кабеля в грунте (без использования труб), все условия остаются прежними.  На кабель,  укрытый  сверху сеяным песком, укладывается
кирпич  в один ряд впритык друг к другу,  или специальные пластиковые плиты с надписью "ОСТОРОЖНО КАБЕЛЬ".  В фундаменте на месте ввода кабеля в
здание, предусматривается закладка трубы (гильзы). Закладываемая труба должна выступать за отмостку на 0,6 метра. Изнутри в здании труба должна
выступать на 0,1 метра от фундамента и входить в приямок  размерами 30*60, выложенный кирпичом.  Сверху приямок должен быть закрыт листом из
негорючего материала, иметь свободный к нему доступ. Это необходимо для того, чтобы в случае повреждения кабеля, была возможность для проведения
    ремонтных работ без разрушения строительных конструкций.</p>
<p>Траншеи, независимо от способа прокладки, при засыпке не должны иметь строительного мусора. Это так же упрощает ремонт кабеля в случае повреждения!
Подается напряжение только после прокладки кабеля,  ввода его в здание и подключения его к автомату внутри здания!
Насколько правильно и качественно будут выполнены все работы, настолько надежно и безопасно будет ваше электроснабжение!
    Помните, что электричество является источником повышенной опасности и вмиг может превратиться из вашего друга в вашего злейшего врага!</p>


{% endblock %}